/*root*/
:root {
    --heading-font: "Advent Pro", sans-serif;
    --body-font: "Noto Sans", sans-serif;

    --heading-background: #140751;
    --text-color: #fff;
    --card-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --border-radius: 10px;
}

/*universal*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body {
    font-family: var(--body-font);
    background: var(--text-color);
    color: #222;
}

/* Header */
header {
    background: var(--heading-background);
    color: var(--text-color);
    text-align: center;
    padding: 1.5rem;
}

header h1 {
    margin: 0;
    font-family: "Advent Pro", sans-serif;
    font-size: 3rem;
}

/*main*/
main {
    position: relative;
}

/* Hero */

.hero {
    position: relative;
}

.hero picture,
.hero img {
    width: 100%; 
    height: auto;
    display: block;
}
/* Cards */

.data-card,
.weather-card {
    background: rgb(47, 194, 248);
    padding: 1.5rem;
    border: 1px solid #ccc;
    box-shadow: var(--card-shadow); 
}

.data-card h2,
.weather-card h2 {
    font-family: var(--heading-font);
    background-color: var(--heading-background);
    text-align: center;
    margin-top: 0;
    color: var(--text-color);
}
/*Description Lists*/

dl {
    display: grid;
    grid-template-columns: auto auto;
    gap: .5rem 1rem;
    margin: 0;
}

dt {
    font-weight: bold;
   
}

dd {
    margin: 0;
    
}

/*weather icon*/

.weather-card img {
    display: block;
    width: 70px;
    margin: auto 1rem;
}

/* Footer */

footer {
    background: var(--heading-background);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: .3rem;
}

/*mobile*/
@media (max-width: 767px) {

    main {
        display: flex;
        flex-direction: column;
    }

    .data-card,
    .weather-card {
        margin: 1rem;
    }

    .weather-card img {
        display: block;
    }
}


/* Desktop*/

@media (min-width: 768px) {

    main {
        position: relative;
    }


    .hero img {
        width: 100%;
        height: auto;
    }

    .data-card,
    .weather-card {
        position: absolute;
        background: rgba(255, 255, 255, 0.6);
        padding: 1.5rem;
        text-align: center;
    }

    .data-card {
        width: 300px;
        top: 2rem;
        left: 2rem;
    }

    .weather-card {
        width: 280px;
        bottom: 2rem;
        right: 2rem;
    }


    /* Hide SVG on desktop */
    .weather-card img {
        display: none;
    }

    /* Display weather icon as pseudo-element */
    .weather-card h2::after {
        content: " ☀️";
        float: right;
    }
}